SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
SPOTIFY_REDIRECT_URL=http://127.0.0.1:8080/callback
SPOTIFY_MIN_INTERVAL_MS=500
SPOTIFY_BATCH_ADD_INTERVAL_MS=1000
SPOTIFY_MAX_RETRY_SECONDS=120
